body {
    background-image: url("../images/pexels-photo.jpg");
    /* background-image: url("../images/swirl_pattern.png"); */

    background-size: 200%;
}

#hiText {
    margin-top: -25px;
}

.navText {
    font-size: 25px;
    color: #bdbdbd;
}

nav {
    height: 100px;
}

nav ul li {
    border-radius: 5px;
}

    
li,
.introText {
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 1px 1px #303030;
}

.titleText {
    margin-top: -25px;
    text-shadow: 1px 1px #303030;
}


#miaFace {
    height: 250px;
    opacity: 1.0;
    margin-top: 20px;
    border-radius: 5px;
}

.bottomDiv {
    height: 400px;
    width: 1000px;
}

.description {
    color: white;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 15px;
    text-shadow: 1px 1px #303030;
}

.contactMe {
    color: white;
    font-family: 'Amatic SC', cursive;
    /* font-size: 30px; */
    text-shadow: 1px 1px #303030;
    margin: 10px;
}

#emailMe {
    margin-top: 20px;
}

.card-content {
    line-height: 1.5;
}